.header {
	width: 100%;
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	align-items: center;

	& > .homeLinkContainer {
		a {
			padding: 1rem;
			color: var(--primary-text-color);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			span[aria-hidden] {
				margin-right: 0.25rem;
			}
		}
	}

	& > .themeBtn {
		display: block;
		width: fit-content;

		cursor: pointer;

		margin-left: auto;
		padding: 0.25rem 0.5rem;

		border-radius: 5px;
		border: 1px solid var(--border-gray);

		background-color: var(--elevated-background);
		color: var(--primary-text-color);
		font-size: small;
	}
}
