.header {
	width: 100%;

	& > .themeBtn {
		display: block;
		width: fit-content;

		cursor: pointer;

		margin-left: auto;
		padding: 0.25rem 0.5rem;

		border-radius: 5px;
		border: 1px solid var(--border-gray);

		background-color: var(--elevated-background);
		color: var(--primary-text-color);
		font-size: small;
	}
}
