@mixin buttonStyles {
	padding: 1rem 2rem;
	border: 0;
	border-radius: 0.5rem;
	font-weight: 600;
	font-size: 1rem;
	color: black;
	font-family: inherit;

	transition: background-color linear 100ms;

	&.solid {
		background-color: var(--primary-orange);

		&:hover:not(:disabled) {
			background-color: #e67c3e;
			cursor: pointer;
		}
		&:active:not(:disabled) {
			background-color: #d1733c;
		}
		&:disabled {
			background-color: #ce6c33c8;
			cursor: not-allowed;
		}
	}

	&.outline {
		background-color: transparent;
		border: 2px solid var(--primary-orange);
		color: var(--primary-text-color);

		&:hover:not(:disabled) {
			background-color: var(--alpha-orange);
			cursor: pointer;
		}
		&:active:not(:disabled) {
			border-color: var(--border-gray);
			color: var(--border-gray);
		}
		&:disabled {
			border-color: var(--border-gray);
			color: var(--border-gray);
			cursor: not-allowed;
		}
	}

	&.ghost {
		background-color: transparent;

		&:hover:not(:disabled) {
			background-color: var(--alpha-orange);
			cursor: pointer;
		}
		&:active:not(:disabled) {
			border-color: var(--border-gray);
			color: var(--border-gray);
		}
		&:disabled {
			border-color: var(--border-gray);
			color: var(--border-gray);
			cursor: not-allowed;
		}
	}
}

button.button {
	@include buttonStyles();
}

a.button {
	@include buttonStyles();
	text-decoration: none;
}
