.showDescSummary {
	&::-webkit-details-marker {
		display: none;
	}

	&:hover:not(:has(.formGroup:hover)),
	&:focus {
		background-color: hsl(var(--a) / 0.15);
	}

	// firefox doesn't support has 😒
	@supports (-moz-appearance: none) {
		&:hover {
			background-color: hsl(var(--a) / 0.15);
		}
	}
}
