.editForm {
	margin: 2.5rem 0;

	label {
		display: block;
	}

	button {
		padding: 0.25rem 0.75rem;
	}

	textarea {
		margin: 0.5rem 0;
		width: 100%;
		resize: vertical;
		border-radius: 0.5rem;
		padding: 0.5rem 0.75rem;
		background-color: inherit;
		border: 2px solid var(--border-gray);
		color: inherit;
	}

	.btnGroup {
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;
		margin-top: 1rem;
	}

	.helpText {
		color: var(--secondary-text-color);
	}
}

.divider {
	margin: 1.5rem 0;
}

.showDesc {
	margin: 2.5rem 0;

	details {
		border: 1px solid var(--border-gray);
		border-radius: 0.5rem;
		margin: 0.5rem 0;

		&[open] summary svg {
			transform: rotate(90deg);
		}

		summary {
			font-size: 1.25rem;
			font-weight: 700;
			border-radius: inherit;
			padding: 0.5rem 1rem;

			display: flex;
			align-items: center;

			svg {
				width: 18px;
				margin-right: 0.5rem;
			}

			p {
				flex-grow: 1;
			}

			&:hover,
			&:focus {
				background-color: var(--alpha-orange);
			}
		}

		pre {
			width: 100%;
			overflow: hidden;
			white-space: pre-line;
			padding: 1rem;
			height: auto;
			border-top: 1px solid var(--border-gray);
		}
	}

	.formGroup {
		display: inline-flex;
		gap: 0.5rem;

		button {
			padding: 0.25rem 0.75rem;
		}
	}

	.addDescForm {
		display: flex;
		justify-content: center;

		button {
			padding: 0.25rem 0.75rem;
		}
	}
}
