.showDescSummary {
	&::-webkit-details-marker {
		display: none;
	}

	&:hover:not(:has(.formGroup:hover)),
	&:focus {
		--at-apply: "bg-brand-reddish bg-opacity-15 dark:(bg-brand-turquoise bg-opacity-15)";
	}

	// firefox doesn't support has 😒
	@supports (-moz-appearance: none) {
		&:hover {
			--at-apply: "bg-brand-reddish bg-opacity-15 dark:(bg-brand-turquoise bg-opacity-15)";
		}
	}
}
