main.landing {
	display: flex;
	flex-direction: column;

	max-width: 30rem;
	margin: auto;

	div.seperator {
		display: flex;
		gap: 1rem;
		// extra margin on bottom to match input group with error message hidden
		margin: 2rem 0px 3rem 0px;
		align-items: center;
	}

	section.copy {
		text-align: center;
		margin: 2rem 0px;
		padding: 0px 0.5rem;

		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.25rem;
			margin-top: 2.25rem;
		}
	}

	div.roomOps {
		margin-top: 3rem;
	}

	section.roomCodeInputs {
		text-align: center;

		p {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		form {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			margin-top: 0.5rem;

			input {
				text-align: center;
				width: 3rem;
				height: 3rem;
				border-radius: 0.5rem;
				border-style: solid;
				text-transform: uppercase;

				background-color: inherit;
				color: var(--primary-text-color);
			}
		}

		.errorMsg {
			height: 1rem;
			display: grid;
			place-items: center;

			p {
				margin: 1rem 0;
				color: var(--error-text-color);
			}
		}
	}

	a {
		display: block;
		margin: auto;
		width: fit-content;
	}
}
