button.roomCodeBtn {
	display: flex;
	align-items: center;
	position: relative;
	cursor: copy;

	margin: auto;
	padding: 0;
	border: none;
	background: none;

	color: var(--primary-text-color);

	h1 {
		font-size: 2rem;
		margin: 0;
	}
}

main.room {
	max-width: 30rem;
	margin: 5rem auto auto auto;
}
