main.room {
	width: 30rem;
	margin: 5rem auto auto auto;

	p {
		font-weight: bold;
	}

	button {
		width: 100%;
		margin-bottom: 1rem;
	}

	table {
		border: 1px solid var(--border-gray);
		border-radius: 4px;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;

		thead > tr {
			border-bottom: 1px solid var(--border-gray);

			th {
				width: 5rem;

				&:first-of-type {
					text-align: left;
					width: 10rem;
				}
			}
		}

		td,
		th {
			padding: 0.75rem 1rem;
		}

		td:not(:first-of-type) {
			text-align: center;
		}

		tfoot {
			& > tr {
				border-top: 1px solid var(--border-gray);
			}

			p {
				font-weight: bold;
				text-align: center;
			}
		}
	}
}
