main.createRoom {
	max-width: 30rem;
	margin: auto;
}

form.createRoomForm {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 3rem 0.5rem;

	& > div,
	& > dl {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	label {
		display: block;
	}

	input[type="text"],
	select,
	option {
		border-radius: 0.5rem;
		padding: 0.5rem 0.75rem;
		width: 100%;
		margin: 0.5rem 0px 0.5rem 0px;
		background-color: inherit;
		border: 2px solid var(--border-gray);
		color: inherit;
	}

	option {
		background-color: var(--elevated-background);
		color: var(--primary-text-color);
	}

	.required {
		color: var(--error-text-color);
		padding-left: 4px;
	}

	fieldset {
		border: none;
		margin: 0px;
		padding: 0px;

		.radio {
			display: flex;
			align-items: center;
			gap: 0.25rem;
			padding-left: 0.25rem;
			margin-top: 0.5rem;
		}

		input[type="radio"] {
			accent-color: var(--primary-orange);
		}
	}

	.finalPreview dd {
		margin-left: 0.25rem;
	}

	.error {
		color: var(--error-text-color);
	}

	.seperator {
		display: block;
	}
}

/* -----------------------------------------------------------------------------
* Slider from https://github.com/chakra-ui/zag/blob/18db4fc4d1bdefba3be99da98ff1ac040f09a638/shared/src/style.css#L403
* -----------------------------------------------------------------------------*/

[data-scope="slider"][data-part="root"] {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

[data-scope="slider"][data-part="control"] {
	--slider-thumb-size: 20px;
	--slider-track-height: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

[data-scope="slider"][data-part="control"][data-orientation="horizontal"] {
	height: var(--slider-thumb-size);
}

[data-scope="slider"][data-part="control"][data-orientation="vertical"] {
	width: var(--slider-thumb-size);
}

[data-scope="slider"][data-part="thumb"] {
	all: unset;
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
	border-radius: 999px;
	background: var(--elevated-background);
	border: 1px solid var(--border-gray);
}

[data-scope="slider"][data-part="thumb"]:focus {
	outline: -webkit-focus-ring-color auto 1px;
}

[data-scope="slider"][data-part="track"] {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 9999px;
}
[data-scope="slider"][data-part="track"][data-orientation="horizontal"] {
	height: var(--slider-track-height);
	width: 100%;
}
[data-scope="slider"][data-part="track"][data-orientation="vertical"] {
	height: 100%;
	width: var(--slider-track-height);
}

[data-scope="slider"][data-part="range"] {
	background: var(--primary-orange);
	border-radius: inherit;
}

[data-scope="slider"][data-part="range"][data-disabled] {
	background: rgba(0, 0, 0, 0.4);
}

[data-scope="slider"][data-part="range"][data-orientation="horizontal"] {
	height: 100%;
}

[data-scope="slider"][data-part="marker-group"][data-orientation="vertical"] {
	height: 100%;
}
