@use "sass:meta";
@layer reset, base, rules, default;

@layer reset {
	// https://github.com/sass/sass/issues/3240
	@include meta.load-css("@unocss/reset/tailwind-compat.css");
}

@layer base {
	body {
		--at-apply: "bg-brand-whitish text-brand-navy dark:(bg-brand-navy text-brand-whitish)";

		&.dark {
			color-scheme: dark;
		}

		padding: 1rem;
	}

	html {
		font-family: "Segoe UI", "Roboto", -apple-system, BlinkMacSystemFont,
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
	}

	* {
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	button:not(.btn-icon) {
		--at-apply: "btn";
	}

	select {
		--at-apply: "select";
	}

	input[type="text"],
	input[type="date"],
	input[type="number"] {
		--at-apply: "input";
	}

	input[type="checkbox"] {
		--at-apply: "checkbox";
	}

	input[type="radio"] {
		--at-apply: "radio";
	}

	hr {
		--at-apply: "border-gray-300 dark:border-slate-600";
	}

	/** Component Overrides **/

	// solid-toast uses inline styles 🙄
	.toast-overrides {
		background-color: hsl(var(--bc)) !important;
		color: hsl(var(--b1)) !important;

		& [role="status"] {
			// the default is flex which removes spaces for formatted elements
			display: block !important;
		}
	}
}
