@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.dark {
		color-scheme: dark;
	}

	padding: 1rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

@layer base {
	html {
		font-family: "Segoe UI", "Roboto", -apple-system, BlinkMacSystemFont,
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
	}
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

// solid-toast uses inline styles 🙄
.toast-overrides {
	background-color: hsl(var(--bc)) !important;
	color: hsl(var(--b1)) !important;

	& [role="status"] {
		// the default is flex which removes spaces for formatted elements
		display: block !important;
	}
}

@keyframes flipIn {
	from {
		scale: 0.9;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

/** Component Overrides **/
.btn {
	animation: none;

	&:active {
		transform: scale(0.99);
		transition: transform linear 50ms;
	}
}

.table {
	th:first-child {
		position: relative;
		z-index: -1;
	}

	& :where(thead, tfoot) :where(th, td) {
		background-color: transparent;
	}
}
